*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "my1";
    src: url(./franklin-normal-500.ttf);
}

@font-face {
    font-family: "my2";
    src: url(./cheltenham-normal-700.ttf);
}

@font-face {
    font-family: "my3";
    src: url(./cheltenham-normal-400-_1_.ttf);
}

@font-face {
    font-family: "my4";
    src: url(./cheltenham-normal-300-_1_.ttf);
}

#main{


}
#page1{
    height: 120vh;
    width: 100vw;
    display: flex;
    font-family: gilroy;

}

#page1 .part1{
    width: 50%;
    height: 110%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
   
}

.part1 .p1{
    height: 90%;
    width: 50%;
}

.p11{
    width: 100%;
    height: 37%;
}

.p11 img{
    width: 50%;
}

.p11 h1{
    font-size: 2.6vw;
    font-weight: 400;
    font-family: "my3";
    margin-bottom: 1.5vw;
}

.p11 h4{
    font-size: 1vw;
    font-family: "my1";
    margin-bottom: .7vw;
    font-weight: 400;
}

.p11 h3{
    font-size: 1.6vw;
    font-family: "my1";
    margin-bottom: .3vw;
    font-weight: 400;
}

.p11 strong{
    color: gray;
    font-weight: 400;
}

.p11 h5{
    font-weight: 100;
}

.p12{
    width: 100%;
    height: 20%;
}

.p121{
width: 100%;
height: 30%;
}

.p121 button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 3.5px;
    background-color: black;
    color: #fff;
    font-size: 1.1vw;
}

.p122{
    width: 100%;
    height: 70%;
    background-color: #fff;
    }

    .p122 h5{
        text-align: center;
        margin-top: 1vw;
        font-size: .9vw;
        

    }
    
    .p1221{
        margin-top: .8vw;
        width: 40%;
        height: 50%;
        margin-left: 9vw;
        
    }

.p13{
    width: 100%;
    height: 35%;
}

.p131{
    border-top: .5px solid #5C5555;
    width: 100%;
    height: 18%;
    border-bottom: .5px solid #5C5555;
    padding-top: .5vw;
}

.p131 h6{
    font-weight: 300;
    font-size: .8vw;
    
}

.p132 h6{
    margin-top: 3%;
    font-weight: 300;
    font-size: .8vw;
    
}

#page1 .part2{
    width: 50%;
    height: 100%;
    background-color: #5C5555;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.part2 img{
 width: 45%;
}




#page2{
    height: 100vh;
    width: 100vw;
    position: relative;

    border-bottom: 1px solid black;
   

}

#page2 h1{
    font-size: 2.6vw;
    font-weight: 400;
    font-family: "my3";
    text-align: center;
    margin-top: 7%;
}


#page2 .page-div{
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    
    
}

#page2 .div1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:start;
    
}

#page2 .div2-1{
    background-color: #fff;
    width: 110%;
    
   
}

 #page2 .div2-1 h1{
    font-size: 2.3vw;
    font-family: "my2";
    font-weight: 300;
    margin-left: -65%;
    margin-bottom: .2vw;
}

#page2 .div2-1 h4{
    font-family: "my1";
    font-weight: 100;
    margin-left: 2%;
    font-size: 1.1vw;
}

.div-i{
    width: 90%;
    height: 100%;
    background-color: #da5959;

}

.div-i img{
    width: 100%;
    height: 100%;
}

.div-i h5{
    font-family: "my1";
    font-weight: 100;
    margin-top: .5vw;

}

.div-i strong{
    font-family: "my1";
    color: rgba(0, 0, 0, 0.75);
    font-size: 1vw;
}


#page21{
    width: 100vw;
    height: 45vh;
    background-color: #fff;
    padding: 5vw;
}

#page21 h2{
    font-family: "my1";
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

#page21 h1{
    font-family: "my3";
    font-weight: 300;
    font-size: 2.5vw;
    margin-bottom: 1vw;
}

#page21 h4{
   font-family: gilroy;
    font-weight: 100;
    font-size: 1.2vw;
    margin-bottom: 1vw;
}

#page21 button{
    font-size: 1.1vw;
    font-weight: 600;
    font-family: "my1";
    width: 15%;
    height: 25%;
    color: white;
    background-color: black;
    cursor: pointer;
}







#page3{
    height: 50vh;
    width: 100vw;
    background-color: black;
    position: relative;
    padding: 3vw;
}

#page3 .ld{
    width: 90%;
    height: 90%;
    margin-left: 4vw;
    display: flex;
    color: white;
    
    
}

.ld1{
    height: 100%;
    width: 60%;
    position: relative;
    
}

.ld1 img{
    width: 50%;
    margin-bottom: 1vw;
    margin-left: -1vw;
}

.ld1 h2{
font-family: "my2";
font-size: 1.5vw;
margin-right: 1vw;
}

.ld2{
    height: 100%;
    width: 40%;
    display: flex;

}

.ld2 .f1{
    width: 60%;
    height: 100%;
}

.f1 h4{
    font-size: 1.5vw;
    font-family: "my1";
    margin-top: 8%;
    margin-bottom: 1vw;
}

.f1 h5{
    font-family: gilroy;
    font-weight: 300;
    font-size: 1.1vw;
    line-height: 2vw;
}

.f2 h4{
    font-size: 1.5vw;
    font-family: "my1";
    margin-top: 14%;
    margin-bottom: 1vw;
}

.f2 h5{
    font-family: gilroy;
    font-weight: 300;
    font-size: 1.1vw;
    line-height: 2vw;
}

.ldd{
    width: 50%;
    height: 15%;
    margin-left: 4%;
    display: flex;
    align-items: center;
}

.ldd img{
    width: 6%;
}

.ldd h6{
    color: #fff;
    font-size: .9vw;
    font-family: gilroy;
    font-weight: 300;
}